#about-page

  %h2 My first Ruby on Rails project

  %p This website is made with huge pleasure for Network Architecture classes.

  %br
  %h3 I used following gems:
  .content-center
    %ul
      %li carrierwave - for uploading books' covers
      %li simple_form - for creating forms
      %li less-rails - I'm just preferring less than scss
      %li twitter-bootstrap-rails - views
      %li navigasmic - for menu generation
      %li cloudinary - for storing images in cloud
      %li will_paginate - for pagination
      %li haml-rails - HAML looks better than .erb

  %p Feel free to write to me: anaksamea@gmail.com


