%h1 Books' reviews

#books-container
  = render :partial => 'books', :locals => { :books => @books }
= link_to '>>>Load More Books<<<', books_path(:page => @books.next_page), :class => 'load-more-reviews', :remote => true if @books.next_page



